---
layout: page
---
<div class="hero">
  <h1 class="display-3">SHASHI'S BLOG</h1>
  <!-- <p class="lead ">Undergrad at IIT Kanpur! Hello </p> -->
</div>

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <div class="post border-top">
    <div class="post-header">
      <h1 class="post-title">{{ post.title }}</h1>
      <h4 class="post-date"><small class="text-muted">{{ post.date | date: "%B %-d, %Y" }}</small></h4>
    </div>
    <div class="post-tag">
      <a href="#" class="post-tag-content border badge badge-dark">technology</a>
      <a href="#" class="post-tag-content border badge badge-dark">life</a>
      <a href="#" class="post-tag-content border badge badge-dark">style</a>
    </div>
    <div class="post-content lead">
      <p>{{ post.excerpt }}</p>
    </div>
    <a href="{{ site.baseurl }}{{ post.url }}" class="post-footer">
      <button type="button" class="btn btn-outline-primary">READ MORE</button>
    </a>
  </div>
{% endfor %}

<!-- Pagination links -->
<nav aria-label="...">
  <ul class="pagination justify-content-center">
    {% if paginator.previous_page %}
      <li class="page-item">
        <a class="page-link" href="{{ site.baseurl }}{{ paginator.previous_page_path }}" tabindex="-1">Previous</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
    {% endif %}

    {% for i in (1..paginator.total_pages) %}
      {% if i == 1 %}
        {% if i == paginator.page %}
          <li class="page-item active"><a class="page-link" href="{{site.url}}{{ site.baseurl }}">{{ i }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="{{site.url}}{{ site.baseurl }}">{{ i }}</a></li>
        {% endif %}
      {% else %}
        {% if i == paginator.page %}
          <li class="page-item active"><a class="page-link" href="{{ site.baseurl }}/page{{ i }}/">{{ i }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="{{ site.baseurl }}/page{{ i }}/">{{ i }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <li class="page-item">
        <a class="page-link" href="{{ paginator.next_page_path }}">Next</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="{{ paginator.next_page_path }}">Next</a>
      </li>
    {% endif %}
  </ul>
</nav>
