<footer class="footer border-top">
  <div class="container">
    <div class="footer-content">
      <h1>
        <a href="" class="social-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="" class="social-icon"><i class="fab fa-github-alt"></i></a>
        <a href="" class="social-icon"><i class="fab fa-youtube"></i></i></a>
        <a href="" class="social-icon"><i class="fab fa-google-plus-g"></i></a>
        <a href="" class="social-icon"><i class="fab fa-twitter"></i></a>
      </h1>
      <!-- <h1 class="display-4">Bootstrap starter template</h1> -->
      <h5 style="padding-top: 1rem;"><i class="far fa-copyright"></i> Shashi Kant 2018</h5>
    </div>
  </div>
</footer>
